@import "tailwindcss";
 

@layer components {

    .dashboard-icon{
        @apply xl:w-16 xl:h-16 h-12 w-12 rounded-full flex items-center justify-center;
    }
    .dashboard-icon-container{
        @apply bg-white p-1 rounded-full shadow-md border border-gray-300 flex items-center justify-center shadow;
    }
    .dashboard-container{
        @apply flex xl:flex-row flex-col justify-center xl:items-start items-center w-full gap-4;
    }
    .dashboard-card-label{
        @apply xl:text-xl text-center text-base font-normal text-gray-500;
    }
    .dashboard-card-value{
       @apply xl:text-3xl text-2xl text-center font-bold text-gray-700;
    }
}