@import "tailwindcss";
 

@layer components {

    .dashboard-icon{
        @apply md:w-16 md:h-16 h-12 w-12 rounded-full flex items-center justify-center;
    }
    .dashboard-icon-container{
        @apply bg-white p-1 rounded-full shadow-md border border-gray-300 flex items-center justify-center shadow;
    }
    .dashboard-card-label{
        @apply md:text-xl text-center text-base font-normal text-gray-500;
    }
    .dashboard-card-value{
       @apply md:text-3xl text-2xl text-center font-bold text-gray-700;
    }
}